@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
}

@layer components {
  .app-container {
    @apply m-auto container
    /*p-4*/
    lg:max-w-6xl;
  }

  .app-title-1 {
    @apply font-black text-5xl leading-[56px] font-Roboto;
  }

  .app-subtitle-1 {
    @apply font-Roboto font-medium text-base leading-[19px];
  }

  .app-title-2 {
    @apply font-medium text-2xl leading-[28px] font-Roboto;
  }

  .app-subtitle-2 {
    @apply font-normal text-base leading-[19px] font-Roboto;
  }

  .app-title-3 {
    @apply font-semibold text-xl leading-[23px] font-Roboto;
  }

  .app-texto-1 {
    @apply font-normal text-[15px] leading-[18px] font-Roboto;
  }

  .app-texto-2 {
    @apply font-medium text-sm leading-[16px] font-Roboto;
  }

  .app-label-1 {
    @apply font-Inter font-semibold text-sm leading-5;
  }

  .app-label-2 {
    @apply font-Inter font-normal text-xs leading-5;
  }


  .app-banner {
    @apply w-screen m-auto relative left-[calc(-50vw_+_50%)];
  }

  .app-small-box {
    @apply bg-white rounded-[28px] max-h-[56px] xs:max-h-[64px] px-4 py-[15px] border border-app-grayDark;
  }


  .text-gradient {
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(0deg,
        rgba(255, 255, 255, 1) 4%,
        rgba(41, 181, 25, 0) 52%);
    background: -webkit-linear-gradient(0deg,
        rgba(255, 255, 255, 1) 4%,
        rgba(41, 181, 25, 0) 52%);
    background: linear-gradient(0deg,
        rgba(255, 255, 255, 1) 4%,
        rgba(41, 181, 25, 0) 52%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff", endColorstr="#29b519", GradientType=1);
  }

  .app-shadow {
    @apply shadow-[0px 2px 4px rgba(0, 0, 0, 0.25)];
  }

  .app-drop-shadow {
    @apply drop-shadow-[0px 2px 4px rgba(0, 0, 0, 0.25)];
  }
}